<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
       <div>
           <span>
               <a href="{{ path('article_index') }}">[ Articles ]</a>
               <a href="{{ path('news_index') }}">[ News ]</a>
               <a href="{{ path('spiritual_pearls_index') }}">[ Духовни Бисери ]</a>
               <a href="{{ path('category_index') }}">[ Categories ]</a>
               <a href="{{ path('tag_index') }}">[ Tags ]</a>
               {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                   <a href="{{ path('app_logout') }}">
                       <span class="btn btn-success">Logout </span>
                   </a>
               {% else %}
                   <a data-toggle="modal" data-target="#loginModal">
                       <span class="btn  btn-success">Login</span>
                   </a>
               {% endif %}
           </span>
           <span>
             {% if app.user %} Welcome: {{app.user.alias }} {% endif %}
           </span>
           <span>
               {% if is_granted('ROLE_EDITOR') %}
                    <a href="/admin">[ Администраторски панел ]</a>
               {% endif %}
           </span>
       </div>
        {% block body %}{% endblock %}
       {{ include('security/login_modal.html.twig') }}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                $(document).ready(function () {
                    let frm = $('#formLoginModal');
                    let errMsgField = $('#err_message');
                    let lastUsername = $('#inputUsername');
                    errMsgField.hide();
                    frm.submit(function (e) {
                        e.preventDefault();
                        $.ajax({
                            type: frm.attr('method'),
                            url: frm.attr('action'),
                            data: frm.serialize(),
                            success: function (v) {
                                // ---- if success,  redirect to homepage ------- //
                                $(location).attr('href',frm.attr('data-id'));
                            },
                            error: function (errorMsg) {
                                // --- if error, send error message from login form error field ----- //
                                let errText = JSON.parse( errorMsg.responseText );
                                errMsgField.show();
                                errMsgField.empty();
                                console.log(errText['error']['messageKey']);
                                errMsgField.append(errText['error']!==undefined?errText['error']['messageKey']:errorMsg);
                                lastUsername.val(errText['last_username']);
                            }
                        });
                    });
                })
            </script>
        {% endblock %}
    </body>
</html>
