<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}Администраторски панел{% endblock %}
    </title>
    <meta name="description" content="Администраторски панел">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('./dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('./palette.css') }}">
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-main flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Към сайта</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Търси" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn btn-success" href="{{path('app_logout') }}">Изход</a>
            {% else %}
                <a data-toggle="modal" data-target="#loginModal">
                    <span class="btn  btn-success">Login</span>
                </a>
            {% endif %}
        </li>
    </ul>
</nav>
<! ------------------------ IMPORT VUE TEMPLATE -------------------------------------->
            <div id="app"></div>


{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('vue') }}
{% endblock %}
</body>
</html>
